* {
    margin: 0;
    padding: 0;
}

#imitationBlock {
    position: absolute;
    width: 150px;
    height: 278px;
    left: 10px;
    cursor: pointer;
}

#imitationBlock2 {
    position: absolute;
    width: 150px;
    height: 278px;
    left: 400px;
    cursor: pointer;
}